openapi: 3.1.0
info:
  title: Celigo integrator.io Platform REST Connections API
  description: 'Celigo integrator.io is an iPaaS platform exposing a RESTful Platform API for

    managing connections, exports, imports, flows, integrations, iClients, jobs,

    licenses, templates, and stored state. The API uses Bearer token authentication

    and enforces a token-bucket rate limit (1000 bucket, 300 tokens/sec refill).

    This best-effort OpenAPI is derived from the public documentation at

    https://docs.celigo.com/hc/en-us/categories/360001519091-Platform-API and the

    public GitHub docs at https://github.com/celigo/integrator-api-docs.

    '
  version: 1.0.0
  contact:
    name: Celigo
    url: https://www.celigo.com/
servers:
- url: https://api.integrator.io/v1
  description: Celigo integrator.io REST API
security:
- bearerAuth: []
tags:
- name: Connections
paths:
  /connections:
    get:
      tags:
      - Connections
      summary: List connections
      operationId: listConnections
      responses:
        '200':
          description: Connection list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Connection'
    post:
      tags:
      - Connections
      summary: Create a connection
      operationId: createConnection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
      responses:
        '201':
          description: Created
  /connections/{_id}:
    get:
      tags:
      - Connections
      summary: Get a connection
      operationId: getConnection
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Connection
    put:
      tags:
      - Connections
      summary: Replace a connection
      operationId: replaceConnection
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Connections
      summary: Delete a connection
      operationId: deleteConnection
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          description: Deleted
  /connections/{_id}/ping:
    post:
      tags:
      - Connections
      summary: Test a connection by pinging it
      operationId: pingConnection
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Ping result
components:
  schemas:
    Connection:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        type:
          type: string
        offline:
          type: boolean
        sandbox:
          type: boolean
        http:
          type: object
        netsuite:
          type: object
        rest:
          type: object
  parameters:
    ResourceId:
      in: path
      name: _id
      required: true
      schema:
        type: string
        description: integrator.io 24-character resource id
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal API token or OAuth 2.0 bearer token. Rate-limited using a

        token-bucket of 1000 tokens, refilled at 300 tokens per second.

        '
