openapi: 3.2.0
info:
  title: Celigo integrator.io Platform REST Jobs API
  description: 'Celigo integrator.io is an iPaaS platform exposing a RESTful Platform API for

    managing connections, exports, imports, flows, integrations, iClients, jobs,

    licenses, templates, and stored state.'
  version: 1.0.0
  contact:
    name: Celigo
    url: https://www.celigo.com/
servers:
- url: https://api.integrator.io/v1
  description: Celigo integrator.io REST API
security:
- bearerAuth: []
tags:
- name: Jobs
paths:
  /jobs:
    get:
      tags:
      - Jobs
      summary: List jobs (flow execution records)
      operationId: listJobs
      parameters:
      - in: query
        name: _flowId
        schema:
          type: string
      - in: query
        name: status
        schema:
          type: string
          enum:
          - queued
          - running
          - completed
          - failed
          - canceled
          - retrying
      responses:
        '200':
          description: Job list
  /jobs/{_id}:
    get:
      tags:
      - Jobs
      summary: Get a job
      operationId: getJob
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Job
components:
  parameters:
    ResourceId:
      in: path
      name: _id
      required: true
      schema:
        type: string
        description: integrator.io 24-character resource id
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal API token or OAuth 2.0 bearer token. Rate-limited using a

        token-bucket of 1000 tokens, refilled at 300 tokens per second.

        '
