openapi: 3.2.0
info:
  title: Celigo integrator.io Platform REST State API
  description: 'Celigo integrator.io is an iPaaS platform exposing a RESTful Platform API for

    managing connections, exports, imports, flows, integrations, iClients, jobs,

    licenses, templates, and stored state.'
  version: 1.0.0
  contact:
    name: Celigo
    url: https://www.celigo.com/
servers:
- url: https://api.integrator.io/v1
  description: Celigo integrator.io REST API
security:
- bearerAuth: []
tags:
- name: State
paths:
  /state:
    get:
      tags:
      - State
      summary: List arbitrary stored state objects
      operationId: listState
      responses:
        '200':
          description: State list
    post:
      tags:
      - State
      summary: Create a state object
      operationId: createState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /state/{_id}:
    get:
      tags:
      - State
      summary: Get a state object
      operationId: getState
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: State
    put:
      tags:
      - State
      summary: Replace a state object
      operationId: replaceState
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - State
      summary: Delete a state object
      operationId: deleteState
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          description: Deleted
components:
  parameters:
    ResourceId:
      in: path
      name: _id
      required: true
      schema:
        type: string
        description: integrator.io 24-character resource id
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal API token or OAuth 2.0 bearer token. Rate-limited using a

        token-bucket of 1000 tokens, refilled at 300 tokens per second.

        '
