openapi: 3.2.0
info:
  title: Celigo integrator.io Platform REST Flows API
  description: 'Celigo integrator.io is an iPaaS platform exposing a RESTful Platform API for

    managing connections, exports, imports, flows, integrations, iClients, jobs,

    licenses, templates, and stored state.'
  version: 1.0.0
  contact:
    name: Celigo
    url: https://www.celigo.com/
servers:
- url: https://api.integrator.io/v1
  description: Celigo integrator.io REST API
security:
- bearerAuth: []
tags:
- name: Flows
paths:
  /flows:
    get:
      tags:
      - Flows
      summary: List flows
      operationId: listFlows
      responses:
        '200':
          description: Flow list
    post:
      tags:
      - Flows
      summary: Create a flow
      operationId: createFlow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flow'
      responses:
        '201':
          description: Created
  /flows/{_id}:
    get:
      tags:
      - Flows
      summary: Get a flow
      operationId: getFlow
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Flow
    put:
      tags:
      - Flows
      summary: Replace a flow
      operationId: replaceFlow
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flow'
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Flows
      summary: Delete a flow
      operationId: deleteFlow
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          description: Deleted
  /flows/{_id}/run:
    post:
      tags:
      - Flows
      summary: Run a flow on demand
      operationId: runFlow
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '202':
          description: Flow run accepted
components:
  parameters:
    ResourceId:
      in: path
      name: _id
      required: true
      schema:
        type: string
        description: integrator.io 24-character resource id
  schemas:
    Flow:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        _integrationId:
          type: string
        disabled:
          type: boolean
        pageProcessors:
          type: array
          items:
            type: object
        pageGenerators:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal API token or OAuth 2.0 bearer token. Rate-limited using a

        token-bucket of 1000 tokens, refilled at 300 tokens per second.

        '
