openapi: 3.2.0
info:
  title: Celigo integrator.io Platform REST Integrations API
  description: 'Celigo integrator.io is an iPaaS platform exposing a RESTful Platform API for

    managing connections, exports, imports, flows, integrations, iClients, jobs,

    licenses, templates, and stored state.'
  version: 1.0.0
  contact:
    name: Celigo
    url: https://www.celigo.com/
servers:
- url: https://api.integrator.io/v1
  description: Celigo integrator.io REST API
security:
- bearerAuth: []
tags:
- name: Integrations
paths:
  /integrations:
    get:
      tags:
      - Integrations
      summary: List integrations
      operationId: listIntegrations
      responses:
        '200':
          description: Integration list
    post:
      tags:
      - Integrations
      summary: Create an integration
      operationId: createIntegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration'
      responses:
        '201':
          description: Created
  /integrations/{_id}:
    get:
      tags:
      - Integrations
      summary: Get an integration
      operationId: getIntegration
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Integration
    put:
      tags:
      - Integrations
      summary: Replace an integration
      operationId: replaceIntegration
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration'
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Integrations
      summary: Delete an integration
      operationId: deleteIntegration
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          description: Deleted
components:
  parameters:
    ResourceId:
      in: path
      name: _id
      required: true
      schema:
        type: string
        description: integrator.io 24-character resource id
  schemas:
    Integration:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        description:
          type: string
        mode:
          type: string
        installSteps:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal API token or OAuth 2.0 bearer token. Rate-limited using a

        token-bucket of 1000 tokens, refilled at 300 tokens per second.

        '
